* {
	padding: 0px;
	margin : 0px;
	color: white;
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
}

header {
	position: relative;
	height: 40px;
	background-color: #000000;
	border-bottom: solid 1px #61BCE8;
	background-image: url(../images/hexellence.png);
	z-index: 10;
}

body {
	background-color: black;
	background-image: url(../images/stardust.png);
}

a:link, a:hover, a:active, a:visited {
	margin: 5px;
	color: #54B4EC;
	text-decoration: none;
	cursor: pointer;
}

div#div_brand {
	padding-left: 0px; 
}

a#a_brand {
	color: white;
	margin: 9px 0 0 0;
	font-size: 22px;
	line-height: 40px;
}

div#div_ext_links {
	padding-right: 0px; 
}

a.a_ext_links {
	float: right;
}

img#img_linkedIn {
	height: 20px;
	margin-top: 5px;
}

div.main0 > div#content {
	position: relative;
	background-color: #61BCE8;
	padding: 10px;
	z-index: 10;
	background:rgba(97,188,232,0.2);
	border-radius: 0 0 20px 20px;
}

div.main0 > p.reading {
	font-family: sans-serif;
	font-size: 15px;
}

canvas#planet_canvas {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 5;
}